
@{
    ViewBag.Title = "Stack";
}

<h2>Stack</h2>

<ol>
    <li><a href="@Url.Action("AddOne", "Stack")">Add one time to Stack</li>
    <li>Add Huge List of Items to Stack</li>
    <li>Display Stack</li>
    <li>Delete from Stack</li>
    <li>Clear Stack</li>
    <li>Search Stack</li>
    <li>Return to Main Menu</li>
</ol>

