
@{
    ViewBag.Title = "Data Structures";
}

<h2>Data Structures</h2>
<br />
<p>Explore different data structures by visiting the links in the top nav bar.</p>
<p>Stacks create a LIFO style of data storage in which the most easily accessible item in the collection is the one most recently added one.</p>
<p>Queues are the opposite of Stacks as they create a FIFO style of data storage in which the most easily accessible item in the collection is the one added first </p>
<p>Dictionaries create an unordered style of data that is access in no particular order, but rather by looking up a value by its key.</p>

